---
import Layout from "../layouts/Layout.astro";
---

<Layout title="EstiMate">
  <div id="terminal-root"></div>
</Layout>

<script type="module" src="/terminal-app.js"></script>

<style>
  #terminal-root {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
</style>
